// СЕКЦИЯ КАТЕГОРИЙ
.categories {
  margin-bottom: min(3vw, 110px);

  &__wrapper {
    position: relative;
  }

  &__title {
    font-family: $fontHeading;
    font-size: clamp(14px, 3vw, 22px);
    margin: 10px 0;

    @media (max-width: 767px) {
      line-height: 2.5;
    }
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    margin: 0;

    @media (max-width: 767px) {
      padding: 7px 0;
    }
  }

  &-item {

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: inherit;
      padding-top: 7px;

      &:hover, &:focus {
        .categories-item__img {
          transform: scale(1.1);
        }

        .categories-item__text {
          color: $primary-color;
        }

        .categories-item__img-cnt {

          &::before {
            content: '';
            opacity: 1;
          }
        }
      }
    }

    &__img-cnt {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
                      to bottom,
                      #F5F8FF 30%,
                      #DDE4F5 59%,
                      #FFFFFF 85%);
      border: 1px solid #DCE4F0;
      border-radius: 12px;
      max-width: 120px;
      min-height: 120px;
      transition: box-shadow 0.3s ease-in;
      margin-bottom: 15px;

      @media (max-width: 900px) {
        max-width: 63px;
        min-height: 63px;
        margin-bottom: 5px;
      }


      &::before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: inherit;
        background: linear-gradient(to bottom, #FF0000, #0094DA);
        filter: blur(3px);
        transition: opacity 0.3s ease-in;
        opacity: 0;
        z-index: -1;

        @media (max-width: 767px) {
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in;
    }

    &__text {
      font-size: 14px;
      line-height: 1.3;
      max-width: 100px;
      margin: 0 auto;
      text-align: center;
      transition: color 0.3s ease-in;
    }
  }
}