body {
  @media (min-width: 1279px) {
    &.has-scrollbar {
      padding-right: calc(19px - (100vw - 100%));
    }
  }

  // Скролл заблокирован
  &.lock {
    overflow: hidden;
  }

  > main {
    margin-top: 130px;

    @media (max-width: 767px) {
      margin-top: 70px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: top 0.3s ease-in 0.1s;
  z-index: 1000;

  a, button {
    &:hover, &:focus {
      outline: none;
    }
  }

  &__top {
    @media (max-width: 1023px) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @media (max-width: 767px) {
      padding: 0;
    }

    &.has-scrollbar {
      @media (min-width: 1024px) {
        padding-right: calc(17px - (100vw - 100%));
      }
    }
  }

  &__bottom {
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, .1);
    transition: background-color 0.3s;
    border-top: 1px solid #bbbbbb4f;
    padding: 8px 0;

    &.has-scrollbar {
      @media (min-width: 1024px) {
        padding-right: calc(17px - (100vw - 100%));
      }
    }
  }

  &__flex-cnt {
    display: flex;
    align-items: center;
  }

  &__catalog-cnt {
    list-style: none;
    padding: 0;
    margin: 0 43px 0 90px;

    @media (max-width: 1023px) {
      display: none;
    }
  }

  &-geo {
    flex: 0 0 auto;
    margin-right: 50px;

    @media (max-width: 1300px) {
      margin-right: 0;
    }

    @media (max-width: 767px) {
      display: none;
    }

    &__city {
      font-size: 13px;
      display: flex;
      align-items: center;
    }

    &__icon {
      margin-right: 5px;
    }
  }

  &-icon-menu {
    display: none;

    @media (max-width: 1023px) {
      display: block;
      position: absolute;
      top: 13px;
      right: 25px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 2;
      background-color: inherit;
      border: 0;
      span,
      &::before,
      &::after {
        content: '';
        transition: all 0.3s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $mainFontColor;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: calc(50% - 0.0625rem);
      }
      .js-nav-open & {
        span {
          width: 0;
        }

        &::before {
          top: calc(50% - 0.0625rem);
          transform: rotate(-45deg);
        }

        &::after {
          bottom: calc(50% - 0.0625rem);
          transform: rotate(45deg);
        }
      }
    }

    @media (max-width: 767px) {
      top: 18px;
      right: 15px;
    }
  }

  &__logo {
    margin-right: clamp(10px, 2vw, 40px);
    flex: 0 0 auto;
    transition: opacity 0.3s;

    @media (max-width: 767px) {
      order: 1;
    }

    &-img {
      @media (max-width: 767px) {
        width: auto;
      }
    }
  }

  &-search {
    flex: 1 1 auto;

    @media (max-width: 767px) {
      order: 3;
      margin-right: 35px;
    }

    &__form {
      position: relative;
      max-width: 525px;

      @media (max-width: 767px) {
        display: none;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

    &__input {
      width: 100%;
      height: 100%;
      border: 1px solid $inputBorder;
      padding: 9px 90px 9px 13px;
      border-radius: 12px;
      transition: opacity 0.3s;
      box-sizing: border-box;

      &:focus {
        border: 1px solid #00000000;
        background-color: $mainWhiteColor;
        outline: 2px solid $primary-color;
      }
    }

    &__btn {
      position: absolute;
      top: 4px;
      right: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      border-radius: 12px;
      background-color: inherit;
      transition: background-color 0.3s ease-in;

      &:hover, &:focus {
        background-color: #80808030;
      }

      @media (max-width: 767px) {
        top: 3px;
      }

      &--close {
        right: 50px;

        svg {
          fill: $danger-color;
          width: 26px;
          height: 26px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 4px;
          right: -7px;
          width: 1px;
          height: 22px;
          background: #d9d9d9;
          background-size: cover;
        }
      }

      &--search {

        svg {
          fill: $primary-color;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &-contacts {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    line-height: 1;
    row-gap: 6px;
    font-size: 14px;
    margin-left: 10px;

    @media (max-width: 767px) {
      order: 2;
      color: #6d6c6c;
      margin-left: 5px;
    }

    &-item {

      &__phone {
        &-value {
          font-size: 16px;
          font-weight: 500;
          transition: color 0.3s;
          color: inherit;

          @media (any-hover: hover) {
            &:hover {
              color: $primary-color;
            }
          }

          @media (min-width: 1024px) {
            &:focus {
              color: $primary-color;
            }
          }

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
      }

      &__mail {
        text-align: end;
        @media (max-width: 767px) {
          display: none;
        }

        &-value {
          font-weight: 500;
          transition: color 0.3s;
          padding-left: 5px;
          color: #6d6c6c;

          @media (any-hover: hover) {
            &:hover {
              color: $primary-color;
            }
          }
          @media (min-width: 1024px) {
            &:focus {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .mobile-contacts {

    @media (min-width: 1024px) {
      display: none;
    }

    @media (max-width: 1023px) {
      padding: 0 10px;
    }

    &-item {
      margin-bottom: 12px;

      a {
        font-weight: 500;
        color: inherit;
      }

      &__term {
        font-weight: 400;
        color: $greyColor;
      }
    }
  }

  .mobile-search {
    list-style: none;
    order: 3;
    padding: 0;
    margin: 0 40px 0 auto;

    @media (min-width: 768px) {
      display: none;
    }

    &__btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      background-color: inherit;
      border-radius: 12px;
      border: none;
      transition: background-color 0.3s ease-in;
      padding: 0;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/icons/icon-search.svg') 3px / 86% no-repeat;
      }

      &:hover, &:focus {
        background-color: #80808030;
      }

      &.--spoiler-active {
        @media (max-width: 767px) {
          + .mobile-search-content {
            opacity: 1;
            visibility: visible;

            form {
              display: block;
            }
          }

          &::before {
            content: '';
            background: url('../img/icons/icon-close.svg') 3px / 86% no-repeat;
          }
        }

      }
    }

    &-content {
      @media (max-width: 767px) {
        position: absolute;
        top: 51px;
        left: 0;
        width: 100%;
        max-height: 85dvh;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: 0 12px 11px rgba(0, 0, 0, 0.4);
        background-color: rgb(255, 255, 255);
        transition: opacity 0.3s;
        padding: 20px 10px;
        box-sizing: border-box;
        border-top: 1px solid $greyBorderColor;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &-nav {
    display: flex;
    flex: 1 1 auto;

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 84dvh;
      top: 100px;
      left: -120%;
      overflow-y: auto;
      background-color: $mainWhiteColor;
      border-top: 1px solid $greyBorderColor;
      transition: left 0.3s;

      .js-nav-open & {
        left: 0;
        box-shadow: 0 68px 0 rgba(0, 0, 0, 0.6);
        padding-bottom: 450px;

        @media (max-width: 767px) {
          padding-bottom: 50px;
        }
      }
    }

    @media (max-width: 767px) {
      top: 51px;
    }

    &__list {
      display: flex;
      flex: 1 1 auto;
      list-style: none;
      min-height: 40px;
      padding: 0;
      margin: 0;

      @media (max-width: 1023px) {
        display: block;
        min-height: auto;
        margin-bottom: 10px;
        padding: 0 10px;
      }
    }

    &-content {
      position: absolute;
      top: 40px;
      max-height: 75dvh;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: 0 12px 11px $shadowLowColor;
      background-color: $mainWhiteColor;
      border-radius: 12px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      z-index: 1;

      /* Создание кастомной полосы прокрутки */
      &::-webkit-scrollbar {
        width: 5px; /* Ширина полосы прокрутки */

        &-track {
          background: #f1f1f1; /*Цвет фона дорожки полосы прокрутки */
        }

        &-thumb {
          background: #c4c4c4; /*Цвет полосы прокрутки */
          border-radius: 5px;
          transition: background 0.3s ease-in 0s;

          &:hover {
            background: #565656; /*Цвет полосы прокрутки при наведении */
          }
        }
      }

      @media (max-width: 1023px) {
        position: static;
        overflow: hidden;
        max-height: 0;
        box-shadow: none;
        font-size: 14px;
        padding: 0 0;
        transition: opacity 0.3s, max-height 0.3s, visibility 0.3s;
      }

      &__list {
        position: relative;
        list-style: none;
        padding: 0;
        top: -15px;
        transition: top 0.3s, opacity 0.3s;

        @media (max-width: 1023px) {
          top: -10px;
        }
      }

      &__link {
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 17px 24px;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;
        color: inherit;
        line-height: 1;

        @media (any-hover: hover) {
          &:hover {
            color: $primary-color;
            background-color: #EEF1F4;
          }
        }

        @media (min-width: 1024px) {
          &:focus {
            color: $primary-color;
            background-color: #EEF1F4;
          }
        }
        @media (max-width: 1023px) {
          display: block;
          width: 100%;
          padding: 8px 0;
          letter-spacing: 0;
        }
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }

  }

  &-item {
    @media (max-width: 1023px) {
      border-bottom: 1px solid $greyBorderColor;
    }

    &__link {
      position: relative;
      font-size: 14px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      height: 100%;
      color: $primary-color;
      background-color: inherit;
      border: none;
      white-space: nowrap;
      transition: background-color 0.3s;
      padding: 0 10px;

      svg {
        width: 10px;
        height: 13px;
        fill: $primary-color;
        margin-left: 5px;
        transition: transform 0.3s, top ease-in 0.2s;

        @media (min-width: 1024px) {
          position: relative;
          top: 0;
        }
      }

      &::before {
        content: '';
        opacity: 0;
        position: absolute;
        width: 10px;
        height: 13px;
        top: 23px;
        right: 10px;
        transform: rotate(180deg);
        background: url('../img/icons/icon-arrow-down-blue.svg') 0 0 / contain no-repeat;
        transition: transform 0.3s, right 0.1s, top 0.1s, opacity 0.3s ease-in 0.1s;

        @media (max-width: 1023px) {
          top: 12px;
          right: 3px;
        }
      }

      @media (max-width: 1023px) {
        display: block;
        font-weight: 600;
        text-align: left;
        width: 100%;
        height: 100%;
        padding: 10px 0;

        svg {
          position: absolute;
          right: 3px;
        }
      }

      &:focus, &:hover {
        cursor: pointer;

        @media (min-width: 1024px) {
          background-color: #E7F0FB;

          svg {
            top: 3px;
          }
        }
      }

      &.--spoiler-active {
        @media (min-width: 1024px) {
          background-color: #E7F0FB;
        }

        &::before {
          @media (max-width: 1023px) {
            opacity: 1;
            transform: rotate(90deg);
            top: 10px;
            right: 1px;
          }
        }

        svg {
          @media (max-width: 1023px) {
            transition: transform 0.3s;
            transform: rotate(-90deg);
          }
        }

        + .header-nav-content {
          opacity: 1;
          visibility: visible;
          @media (max-width: 1023px) {
            max-height: 3000px;
          }

          .header-nav-content__list {
            top: 0;
          }

          .catalog-media {
            top: 0;
          }
        }
      }
    }

    &--special {
      .header-item {
        &__link {
          color: $danger-color;

          span {
            margin-right: 5px;
          }
        }
      }
    }

    &--exhibitions {
      .header-nav-content {
        &__list {
          list-style: none;
          column-count: 2;
          padding: 0;
        }
      }

    }

    &--catalog {
      .header-item {
        &__link {

          @media (min-width: 1024px) {
            position: relative;
            display: flex;
            gap: 10px;
            height: 100%;
            font-size: 14px;
            line-height: 1.1;
            color: $mainWhiteColor;
            background-color: $primary-color;
            border-radius: 12px;
            border: none;
            align-items: center;
            transition: opacity 0.3s;
            padding: 11px 24px;

            svg {
              display: none;
            }

            &.--spoiler-active {
              span.header-item__link-icon {
                span {
                  transition: transform 0.6s cubic-bezier(.54, .1, .42, 1.48), width 0.6s ease-in;

                  &:first-child {
                    transform: rotate(45deg) translate(1px, -4px);
                  }

                  &:nth-child(2) {
                    transform: rotate(-45deg);
                  }

                  &:nth-child(3) {
                    transform: rotate(45deg) translate(7px, -4px);
                    width: 11px;
                  }
                }
              }
            }

            &:hover, &:focus {
              background-color: $primary-fifth;
            }

            &-icon {
              display: block;

              span {
                display: block;
                height: 2px;
                background-color: $mainWhiteColor;
                border-radius: 5px;
                transition: transform 0.6s cubic-bezier(.54, .1, .42, 1.48), width 0.6s ease-out;

                &:not(:last-child) {
                  margin-bottom: 4px;
                }

                &:first-child {
                  transform-origin: 0 50%;
                  width: 11px;
                }

                &:nth-child(2) {
                  width: 22px;
                }

                &:nth-child(3) {
                  transform-origin: 108% 45%;
                  width: 17px;
                }
              }
            }

            &.--spoiler-active {
              background-color: $primary-fifth;
            }
          }
        }
      }

      .header-nav-content {
        display: flex;
        column-gap: 30px;
        top: 95px;
        left: 0;
        width: auto;
        border-radius: 0;
        z-index: -1;

        @media (min-width: 1024px) {
          max-height: none;
          height: 87dvh;
          padding: 30px 25px 30px min(4vw, 70px);
        }

        &__list {
          display: flex;
          flex-direction: column;
          flex: 0 0 375px;
        }

        &-item {
          &.js-nav-tab-active {
            .header-nav-content-item__link {
              @media (min-width: 1024px) {
                color: $mainWhiteColor;
              }
            }

            .header-nav-content-item__arrow {
              visibility: visible;
              fill: $mainWhiteColor;
            }

            .header-nav-content-item__image {
              transform: scale(1.2);
            }

            @media (min-width: 1024px) {
              background-color: $primary-color;
              border-radius: 12px;
            }

            @media (max-width: 1023px) {
              color: inherit;
              .header-nav-content-item__arrow {
                visibility: hidden;
              }
              .header-nav-content-item__image {
                transform: scale(1);
              }
            }
          }

          &__link {
            display: flex;
            align-items: center;
            padding: 6px 4px;
            color: inherit;
            border-radius: 12px;

            @media (min-width: 1024px) {
              &:hover, &:focus {
                color: $mainWhiteColor;
                background-color: $primary-color;

                .header-nav-content-item__image {
                  transform: scale(1.2);
                }
              }
            }

            @media (max-width: 1023px) {
              padding: 0;
            }

            @media (max-width: 767px) {
              font-size: 12px;
            }
          }

          &__image {
            transition: transform 0.3s;
            margin-right: 8px;
          }

          &__arrow {
            display: flex;
            height: 100%;
            visibility: hidden;
            transform: rotate(-90deg);
            margin-left: auto;
          }
        }
      }

      .catalog-media {

        @media (max-width: 1023px) {
          display: none;
        }

        @media (min-width: 1024px) {
          position: relative;
          top: -15px;
          flex: 0 1 auto;
          transition: top 0.3s;
          border-left: 1px $border-base solid;
          overflow-y: auto;

          /* Создание кастомной полосы прокрутки */
          &::-webkit-scrollbar {
            width: 5px; /* Ширина полосы прокрутки */

            &-track {
              background: #f1f1f1; /*Цвет фона дорожки полосы прокрутки */
            }

            &-thumb {
              background: #c4c4c4; /*Цвет полосы прокрутки */
              border-radius: 5px;
              transition: background 0.3s ease-in 0s;

              &:hover {
                background: #565656; /*Цвет полосы прокрутки при наведении */
              }
            }
          }

          &__wrapper {
            padding: 0 30px;
          }

          &__list {
            list-style: none;
            padding: 0;
            margin-bottom: 10px;
          }

          &-item {

            &__link {
              display: block;
              width: 100%;
              color: #6d6c6c;
              transition: color 0.3s ease-in;
              padding: 6px 0;

              &:hover, &:focus {
                color: $primary-color;
              }
            }
          }

          &__list-link {
            display: block;
            color: $primary-color;
            margin-bottom: 10px;
            transition: color 0.3s ease-in;

            &:hover, &:focus {
              outline: none;
              color: $danger-color;
            }
          }

          &__banner-link {
            display: block;
            overflow: hidden;
            border-radius: 12px;
            margin-bottom: 15px;

            &:hover, &:focus {
              .catalog-media__banner-img {
                transform: scale(1.1);
              }
            }
          }

          &__banner-img {
            transition: transform 0.3s ease-in;
          }
        }

      }
    }
  }

  &-social {
    @media (min-width: 1024px) {
      margin-left: auto;
      align-self: center;
    }

    @media (max-width: 1023px) {
      margin-bottom: 20px;
      padding: 0 10px;
    }

    &__list {
      display: flex;
      column-gap: 25px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {

      &__link {
        display: flex;

        &:focus, &:hover {
          svg {
            transform: scale(1.15);
          }
        }

        svg {
          width: 24px;
          height: 30px;
          transition: transform 0.3s ease-in 0s;
        }
      }

      &--vk {
        @media (min-width: 1024px) {
          display: none;
        }

        svg {
          fill: $vkColor;
        }
      }

      &--telegram {
        svg {
          fill: $tgColor;
        }
      }

      &--whatsapp {
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, left 0.3s, top 0.3s, width 0.3s,
  background-color 0.3s, height 0.3s, visibility 0.3s;
  z-index: 11;

  &.--active {
    opacity: 1;
    visibility: visible;
    background-color: $shadowLowColor;
  }
}

// Результаты выпадающего списка поиска
.ui-widget {
  &-content {
    max-width: 100% !important;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 10000 !important;
  }
}
