.idea
.vercel
node_modules/
package-lock.json
# macOS-specific files
.DS_Store
css/style.css.map

css/null.css
css/null.css.map

css/params.css
css/params.css.map

css/swiper.css
css/swiper.css.map

css/header.css
css/header.css.map

css/personal.css
css/personal.css.map

css/categories.css
css/categories.css.map

css/main-bloggers.css
css/main-bloggers.css.map

css/bloggers.css
css/bloggers.css.map

css/managers.css
css/managers.css.map

css/reviews.css
css/reviews.css.map

css/modal.css
css/modal.css.map

css/test-spoilers.css
css/test-spoilers.css.map

img/personal/main-banner/banner-video.mp4